# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd


# VS Code
.vscode/

# Virtualenv
.venv/
venv/

# Tests
tests/__pycache__/

# Env files
.env
.env.*

# Docker
docker-compose.override.yml
*.bak
*.log
*.pid
*.sock

# Bytecode and cache
*.egg-info/
dist/
build/

# Makefile backups
Makefile.bak

# pre-commit
.pre-commit-config.yaml
.pre-commit-hooks.yaml
.pre-commit/

# pytest
.pytest_cache/
.cache/
.mypy_cache/

# Ruff (optional)
ruff_cache/
